# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=booking_platform

# JWT
JWT_ACCESS_SECRET=RAehJDaT7xHw3ns3JOXTjfzl5Myu7QNYyTCeRxpzyoL
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=1w2iAXdidk89MIb76n0jo5s3ilUEtGQCwB9sZXMrVt1
JWT_REFRESH_EXPIRATION=7d

# App
PORT=3000
NODE_ENV=development
